{% block content %}
    {{ form_start(form) }}

    <h4> Recherche Hotel</h4>
    {{ form_row(form.q)}}




    <button type="submit" class="btn btn-primary w=100">Recherche </button>

    {{ form_end(form) }}

{% endblock %}